<h1>Welcome to Odin Flight Booker</h1>

<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.search_field :query %>
  <%= form.submit "Search" %>
  
<% end %>




